<div class="container">
    <h1 style="text-align: center;">Log In</h1>
    <form (ngSubmit)="login()" style="width: 500px; border: double; border-radius: 5px; padding: 5px; background-color: gray;">
        <div class="mb-3">
            <label for="userName" class="form-label">Email address</label>
            <input type="email" class="form-control" id="userName" aria-describedby="emailHelp" name="userName" [(ngModel)]="userName">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password">
        </div>
        <button type="submit" class="btn btn-primary me-2">Submit</button>
        <button type="button" class="btn btn-warning" (click)="createUser()">Create user</button>
    </form>
</div>
<!-- <a href="http://localhost:4200/create-user">Create User</a> -->
